body{
  background-color: #343a40!important;
  touch-action: auto!important;
}
button:focus{
  outline: none!important;
}
.danger {
  border-color: #dc3545!important
}
.danger::-webkit-input-placeholder{
  color: #dc3545!important;
}
.modal-content {
  background-color: #343a40!important;
  border-radius: 3%!important;
}
.no-padding {
  padding: 0!important;
}

label{
  margin-bottom: 0!important;
}
